.header {
    width: 100%;
    color: white;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efc5ca+0,d24b5a+50,ba2737+51,f18e99+100;Red+Gloss+%233 */
    background: #efc5ca; /* Old browsers */
    background: -moz-linear-gradient(top,  #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
}

ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

.right-aligned {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.content {
    width: 100%;
}

ol.products {
    list-style-type: none;
    padding: 0px;
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

div.discounted {
    text-decoration: line-through;
    color: red;
}

li.store-product {
    display: inline-block;
    width: 116px;
    margin-bottom: 20px;
}


.shim {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
}

.dialog {
    display: none;
    text-align: center;
    height: 250px;
    width: 400px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 20px 3px #999;

    position: absolute;
    top: 30%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}